{% extends "base.html" %}
{% block home %}
<section id="home-image">
<h1 id = "shop_heading">WELCOME to vagrant emporium </h1>

<h3 id = "shop">This is an awesome new app that is designed with DND'ers and Critters alike,
this is an evolving and growing searchable resoure where you can find all kinds of magical iteams.  /h3>
</section>

<!-- <!DOCTYPE html>
<html lang="en"> -->

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shop_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>CSS</title> -->
<!-- </head> -->

<!-- <body>
    <header>
        <h1 id="logo"></h1>
        <nav>
            <ul>
                <li>
                </li>
                <li>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <header>
              
            </header>
            <main> -->
               
              
                    
            <!-- </main> -->
            <footer>
                <button class="SOLD-button">sold</button>
            </footer>
        <!-- </article>
    </main> -->
<!-- </body>
</html> -->
{% endblock %}