{% extends "base.html" %}
{% block home %}
<section id="home-image">
<h1 id = "shop_heading">Welcome to Vagrant Emporium </h1>

<h2 id = "shop">A new app desinged with new and veteran DM's alike. 
It's purpose? Here you can keep track of all the pesky magical items your party has gotten their hands on.
keep it natural(20).Keep it magical</h2>
</section>

<!-- <!DOCTYPE html>
<html lang="en"> -->

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shop_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>CSS</title> -->
<!-- </head> -->

<!-- <body>
    <header>
        <h1 id="logo"></h1>
        <nav>
            <ul>
                <li>
                </li>
                <li>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <header>
              
            </header>
            <main> -->
               
              
                    
            <!-- </main> -->
    
        <!-- </article>
    </main> -->
<!-- </body>
</html> -->
{% endblock %}